.THIS {
    max-width: 90%;
    margin: auto; /* move everything in the middle */
    background-image: url('/sfsites/c/resource/personProfileResources/silver-background.jpg');
    background-repeat: repeat-y;
    background-size: 1920px 1200px;
}
