
.loanTypeImg {
    height: 350px;
}

details {
    transition: height 0.5s ease;
    overflow: hidden;
}

details:not([open])
{
    height: 2.25em;
}

details[open]
{
    height: 35.50em;
}


details > summary {
    padding: 4px;
    background-color: #eeeeee;
    cursor: pointer;
}

details > summary::after {
    background: silver;
    border-color: #333;
    border-radius: 15px;
    content: "+";
    color: #333;
    float: left;
    font-size: 1em;
    font-weight: bold;
    margin: -2px 10px 0 0;
    padding: 1px 0 3px 0;
    text-align: center;
    width: 30px;
}

details[open] > summary::after {
    content: '-';
}

details[open] > summary ~ * {
    animation: sweep 0.5s ease-in-out;
}
  
@keyframes sweep {
    0%    {opacity: 0; margin-left: 20px}
    100%  {opacity: 1; margin-left: 0px}
}