hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: left;
    height: 5px;
}

hr:after {
    background: #808080;
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.hr1:after {
    content: 'Education';
    font-size: large;
}

.hr2:after {
    content: 'Career';
    font-size: large;
}

.hr3:after {
    content: 'Certification & Awards';
    font-size: large;
}
